@{
    ViewBag.BodyId = "store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Pragmatic Bookshelf";
    }
}

@section AdditionalStyleSheetImports
{
    <link href="@Url.Content("~/Content/depot.css")" rel="stylesheet" type="text/css"/>
    @RenderSection("AdditionalStyleSheetImports", false)
}
 
@section AdditionalJavaScriptImports
{
    @RenderSection("AdditionalJavaScriptImports", false)
}

<div id="banner">
    <img src="@Url.Content("~/Content/Images/logo.png")" alt="@ViewBag.Title"/> @ViewBag.Title
</div>
<div id="columns">
    <div id="side">
        <a href="/">Home</a><br/>
        <a href="#">Quesions</a><br/>
        <a href="#">News</a><br/>
        <a href="#">Contact</a>
    </div>
    <div id="main">
        @RenderBody()
    </div>
</div>

