@using Depot.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("AdditionalStyleSheetImports", false)
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
</head>

    <body id="@ViewBag.BodyId">
        @Html.Flash(FlashMessageType.Notice)
        @RenderBody()
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/JavaScript/site.js")" type="text/javascript"></script>
        @RenderSection("AdditionalJavaScriptImports", false)
    </body>
</html>
