@using Depot.Web.Helpers

@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Pragmatic Bookshelf";
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/depot.css")" rel="stylesheet" type="text/css"/>
    </head>
    <body id="store">
        <div id="banner">
            <img src="@Url.Content("~/Content/Images/logo.png")" alt="@ViewBag.Title"/> @ViewBag.Title
        </div>
        <div id="columns">
            <div id="side">
                <a href="/">Home</a><br/>
                <a href="#">Quesions</a><br/>
                <a href="#">News</a><br/>
                <a href="#">Contact</a>
            </div>
            <div id="main">
                @Html.Flash(FlashMessageType.Error)
                @Html.Flash(FlashMessageType.Notice)
                @RenderBody()
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/JavaScript/site.js")" type="text/javascript"></script>
        @RenderSection("AdditionalJavaScriptImports", false)
    </body>
</html>
