@using Depot.Web.Helpers
@using Depot.Web.Models
@model IEnumerable<ProductListModel>
           
@{
    ViewBag.Title = "Products: List";
    Layout = "~/Views/Shared/Products.cshtml";
}          

<div id="product-list">
    <h1>Listing products</h1>
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td><img src="@product.ImageUrl" class="list-image" alt="product.Title"/></td>
                <td class="list-description">
                    <dl>
                        <dt>@product.Title</dt>
                        <dd>@Html.Raw(product.Description)</dd>
                    </dl>
                </td>
                <td class="list-actions">
                    @Html.ActionLink("Show", "Show", new {id = product.Id}) |
                    @Html.ActionLink("Edit", "Edit", new {id = product.Id}) |
                    @Html.DeleteLink("Delete", "Delete", new {id = product.Id}, new DeleteLinkOptions {Confirm = "Are you sure?", Parents = 2})
                </td>
            </tr>
        }

    </table>
</div>

<br />
@Html.ActionLink("Create New", "New")